fastapi==0.104.1
pymongo==4.6.0
uvicorn==0.24.0
python-multipart==0.0.6
python-dotenv==1.0.0
motor==3.3.2
websockets==12.0
pydantic==2.5.0
authlib==1.2.1
requests==2.31.0
starlette==0.27.0
Pillow==10.1.0
bcrypt==4.1.1
jq==1.6.0
typer==0.9.0
httpx==0.25.2
dnspython==2.4.2
certifi==2023.11.17
urllib3==2.1.0
